apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: restaurant-app
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
      version: v1
  template:
    metadata:
      labels:
        app: backend
        version: v1
    spec:
      imagePullSecrets:
        - name: docker-hub-creds    
      containers:
        - name: backend
          # TODO: Replace with your actual image later, e.g.:
          # image: gcr.io/YOUR_PROJECT_ID/restaurant-backend:latest
          image: docker.io/immrbhattarai/restaurant-backend:v1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 4000
              name: http
          env:
            - name: PORT
              value: "4000"
            - name: DB_HOST
              value: "postgres"
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: DB_PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: DB_NAME
          resources:
            requests:
              cpu: "30m"
              memory: "64Mi"
            limits:
              cpu: "150m"
              memory: "128Mi"
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 15
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: restaurant-app
  labels:
    app: backend
spec:
  selector:
    app: backend
  type: ClusterIP
  ports:
    - name: http
      port: 4000
      targetPort: 4000
